@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
@import "./hero.css";
@import "./nav.css";
@import "./services.css";
@import "./testimonials.css";
@import "./footer.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.hero {
  width: 95vw;
  height: 600px;
  display: flex;
}

.container {
  width: 95vw;
}

.color-mint {
  background-color: #48ccaa;
}

.dark-mint {
  background-color: #37977e;
}

.dark-mint-decoration {
  text-decoration-color: #37977e;
}
